html {
    font-size: 16px;
    font-family: "Lucida Grande", sans-serif;
    color: #444;
    height: 100%;
    width: 100%;
    background: url(geometry.png) top left repeat #fff;
}

body {
    margin: 3em 0;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 90%;
    max-width: 600px;
}

h1, h3 {
    font-weight: 400;
    width: 100%;
    margin: 1em 0;
    text-align: center;
}

h1 {
    text-transform: uppercase;
    color: #9e7845;
}

form {
    text-align: center;
}

input {
    text-align: center;
    font-size: 1em;
    background: none;
    border: none;
    width: 100%;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.desc {
    margin: 0.4em 0;
    font-size: 0.8em;
    color: #aaa;
}

.button {
    display: inline-block;
    width: auto;
    padding: 1.5em 2em;
    color: #69F;
    background-color: #D1E1FF;
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 2em;
}

.image {
    display: none;
    margin-top: 3em;
}

.image .content {
    position: relative;
}

.image .content img {
    display: block;
    width: 100%;
    height: auto;
}

.image .content .line {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: #000;
    margin-top: -1px;
}

.image .instruct {
    text-align: center;
    font-weight: 400;
    margin: 0 0 1em 0;
    font-size: 1.3em;
}

.image .shoulder,
.image .waist,
.image .hem,
.image .result {
    display: none;
}

.image.state0 .shoulder,
.image.state1 .waist,
.image.state2 .hem,
.image.state3 .result {
    display: block;
}

.image .content img:hover {
    cursor: crosshair;
}